body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}



.header{
    
        width: 100%;
        background-image: url("img\Baloncesto\baloncesto.jpg");
        background-size: cover;
        background-position: center;
        color: white;
        text-align: center;
        padding: 100px 0;
}


.nombre {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 20px;
    font-size: 24px;
    text-align: center;
    width: 80%;
    max-width: 400px; 
}