* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#header{
    width: 50px;
}

.logo_deportes{
    width: 150px;
}
#header{
    display: flex;
    background-image: url("/img/futbol_logo2.jpg");
    width: 100%;
    background-position: center;
    color:rgb(51, 67, 24);
    height: 150px;
    font-size: 28px;
    font-style: italic;
    text-decoration: underline;
    border: 5px solid rgb(1, 24, 1);
}

#content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
}
.card1 {
    background-color: rgb(214, 231, 212);
    padding: 20px 20px; 
    border: 10px solid black;
    border-style: ridge;

}

.card2 {
    background-color: rgb(214, 231, 212);
    
    padding: 20px 20px; 
    border: 10px solid black;
    border-style: ridge;
}
.card2 img {
    max-width: 100%; /* La imagen no será más ancha que el div */
    max-height: 100%; /* La imagen no será más alta que el div */
    width: auto; /* Ajusta automáticamente el ancho de la imagen */
    height: 160px; /* Ajusta automáticamente la altura de la imagen */
    display: block; /* Elimina cualquier espacio adicional debajo de la imagen */
    margin: 0 auto; /* Centra la imagen horizontalmente en el div si es necesario */
    float: right;
}


.card3 {
    background-color: rgb(214, 231, 212);
    padding: 20px 20px; 
    border: 3px solid black;
    overflow: hidden;
    border: 10px solid black;
    border-style: ridge;
}

.card4 {
    background-color: rgb(214, 231, 212);
    padding: 20px 20px; 
    border: 3px solid black;
    overflow: hidden;
    border: 10px solid black;
    border-style: ridge;
}
.card2 ul{
    float:left;
}

h2{
    color:rgb(51, 68, 21);
}
ul{
    margin: 0;
    list-style: inside;
    
}
footer {
    grid-area: bottom;
    display: grid;
    grid-template-areas: 'left center right';
    color: rgb(34, 32, 32);
    background-color: rgb(214, 231, 212);
    border: 10px solid black;
    border-style: ridge;
}

#izqFooter {
    grid-area: left;
}

#cntrFooter {
    grid-area: center;
}

#drchaFooter {
    grid-area: right;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    background: rgb(34, 32, 32);
    color: white;
}

.fa:hover {
    opacity: 0.7;
    background: red;
    color: white;
}

footer a {
    color: rgb(34, 32, 32);
}

footer a:hover {
    color: red;
}

footer div {
    text-align: center;
}


@media screen and (max-width: 768px) {

    #content{
        display: grid;
        grid-template-columns: 1fr;
    }

    .card4 iframe{
        height: 400px;
    }
    footer {
        grid-area: bottom;
        display: grid;
        grid-template-areas:
            'left center right';
        color: rgb(34, 32, 32);
    }
    #izqFooter {
        grid-area: left;
    }
    
    #cntrFooter {
        grid-area: center;
    }
    
    #drchaFooter {
        grid-area: right;
    }
}