* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0px;
    background-color: rgba(173, 199, 170, 0.5);
    background-image: url('../img/volei_fondo.png');
    animation: moverImagen 25s linear infinite;
}

/************************** HEADER **************************/

#header {
    display: flex;
    background-image: url("../img/Futbol/futbol_logo2.jpg");
    width: 100%;
    background-position: center;
    color: rgb(51, 67, 24);
    height: 150px;
    font-size: 28px;
    font-style: italic;
    text-decoration: underline;
}

@media screen and (max-width: 800px) {
    #header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #header h1 {
        display: none;
    }
}

/************************** CONTENIDO **************************/

.logo_deportes {
    width: 150px;
}


.descPremios {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(173, 199, 170, 0.5);
}

.descripcion {
    padding: 20px;
    border: 5px solid black;
    border-style: ridge;
    background-color: rgba(173, 199, 170, 0.5);
}

.premios {
    padding: 20px 20px;
    border: 5px solid black;
    border-style: ridge;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.imagenPremios img {
    max-width: 100%;
    max-height: 100%;
    width: 250px;
    height: auto;
    display: flex;
}


.inscripcion {
    padding: 20px 20px;
    border: 3px solid black;
    overflow: hidden;
    border: 5px solid black;
    border-style: ridge;
    background-color: rgba(173, 199, 170, 0.5);

}

.contenedorbo {
    position: relative;
    width: 100%;
    height: 100px;
}

.boton {
    position: absolute;
    top: 50%;
    right: 20px;
    background-color: rgb(214, 245, 212);
    color: black;
    padding: 10px 20px;
    border: solid;
    border-radius: 5px;
    cursor: pointer;
}

.video {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.card2 ul {
    float: left;
}

h2 {
    color: rgb(51, 68, 21);
}

ul {
    margin: 0;
    list-style: inside;

}

/************************** FOOTER **************************/

footer {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    color: rgb(34, 32, 32);
}

@media screen and (max-width: 1000px) {

    footer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-gap: 30px;
    }

}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    background: #2c4762;
    color: white;
}

.fa:hover {
    opacity: 0.7;
    background: red;
    color: white;
}

footer a {
    color: #2c4762;
}

footer a:hover {
    color: red;
}

footer div {
    text-align: center;
}


@media screen and (max-width: 1200px) {
    .premios {
        grid-template-columns: 1fr;
    }

    .imagenPremios {
        display: none;
    }
}

@media screen and (max-width: 800px) {

    .descPremios {
        grid-template-columns: 1fr;
    }

    .imagenPremios {
        display: flex;
    }
}

/************************** KeyFrame Fondo **************************/

@keyframes moverImagen {
    0% {
        background-position: 0 0;
        /* Posición inicial de la imagen de fondo */
    }

    100% {
        background-position: 100% 0;
        /* Posición final de la imagen de fondo */
    }
}