
body {
   
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #008000;
}




.logo_deportes{
    width: 150px;
}
.titulo{
    display: flex;
    background-image: url("../img/Rugby/fondoRugby.jpg");
    width: 100%;
    background-position: center;
    color: white;
    height: 150px;
    font-size: 28px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    text-decoration: underline;
    border: 1px solid #008000;
    background-repeat: no-repeat;
    background-size: cover;
}
    .fila{
        display: flex;
        flex-direction: row;
    }
    .descripcion{
        padding: 10px;
        border-style: double;
        border-color: black;
        border-width: 10px;
        flex: 7; 
        background-color: #008000;
    }
    .premios{
        padding: 10px;
        border-style: double;
        border-color: black;
        border-width: 10px;
        background-color: #008000;
        flex: 3; 
    }

    .fila2{
        display: flex;
        flex-direction: row;
    }
    .apuntarse{
        padding: 10px;
        border-style: double;
        border-color: black;
        border-width: 10px;
        background-color: #008000;
        flex: 10 ;
    }

    .trophy{
        height: 100px;
        width: auto;
    }

    .video{
        display: flex;
        width: 80%;
        align-self: center;
    }

/* Footer*/
footer {
    grid-area: bottom;
    display: grid;
    grid-template-areas:
      'left center right';
    color: rgb(34, 32, 32)
}

#izqFooter { 
    grid-area: left; 
}
#cntrFooter { 
    grid-area: center; 
}
#drchaFooter { 
    grid-area: right; 
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    background: rgb(34, 32, 32);
    color: white;
}
  
.fa:hover {
    opacity: 0.7;
    background: red;
    color: white;
}

footer a {
    color:rgb(34, 32, 32);
}
  
footer a:hover {
    color: red;
}

footer div {
    text-align: center;
}
/*-----------*/